
.clock {
    color: $colorRed;
    padding: 0.5rem;

    &--color-rainbow &__hours {
        color: red;
    }

    &--color-rainbow &__minutes {
        color:violet;
    }

    &--color-rainbow &__separator {
        color:green;
    }
}