
.progress {
    border: 1px solid $colorBlack;
    border-radius: .5rem;
    height: 1rem;
    margin-bottom: 2rem;
    padding: 0.25rem;

    &--big {
        height: 4rem;
    }

    &--color-red {
        border-color: $colorRed;
    }

    &--color-green {
        border-color: $colorGreen;
    }

    &__bar {
        height: 100%;
        background-color: $colorBlack;
        border-radius: .25rem;
    }

    &--color-red &__bar {
        background-color: $colorRed;
    }

    &--color-green &__bar {
        background-color: $colorGreen;
    }

}


