.TimeboxEditor, .TimeboxCreator {
    text-align: right;
    border: $primary-border;
    border-radius: 0.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.Timebox {
    background-color: cyan;
    border: $primary-border;
    border-radius: 0.5rem;
    padding: .25rem;
    margin-bottom: 0.25rem;

    h3 {
        line-height: 1rem;
    }

    label {
        border: none;
        display: block;
        margin-bottom: 0.5rem;
    }
}

.TimeboxCreator {
    background-color: BurlyWood;
}

.TimeboxEditor {
    background-color: lightGray;
    label {
        margin-bottom: 0.25rem;
        display: block;
        margin-bottom: 0.5rem;
    }
}

input {
    min-width: 30%;
    margin-left: 20px;
    font-size: 1rem;
    border: 1px solid #a0a0a0;
    padding: 0.125rem;
}

button {
    font-size: 1rem;
    margin-left: 20px;
}

.CurrentTimeBox {
    text-align: center;
    border: 1px #777 solid;
    border-radius: 0.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}



